{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Users - Face Recognition Demo</title>
{% endblock %}


{% block content %}
  <!-- Back button -->
  <a href="{% url 'home' %}" class="back-btn">
    <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path d="M15 18l-6-6 6-6"/>
    </svg>
  </a>

  <div class="container">
    <h1 class="page-title">Users</h1>
    
    <div class="user-list" id="user-list">
      {% for user in users %}
        <!-- Users will be rendered here -->
        <div class="user-row">
          <div class="user-avatar">{{ user.name|first|upper }}</div>
          <div class="user-info">
            <div class="user-name">{{ user.name }}</div>
            <div class="user-detail">ID: {{ user.id }} | DOB: {{ user.dob }}</div>
            <div class="user-detail">{{ user.email }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}